$blue: #357EDF;

// Upload form
#new_photo {
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin: 60px auto;
  padding: 60px;
  text-align: center;
  width: 60%;
  .field {
    margin: 0 0 30px;
  }
  label, input[type="submit"] {
    display: none;
  }
  p.instructions {
    color: #555;
    margin: 0 auto;
    width: 70%;
  }
  // When you drag a file from your desktop onto this form, we need to let the user know they can drop it
  &.dragover {
    box-shadow: inset 0 0 0 10px $blue;
  }
}

// In case something goes wrong during the file upload
ul.errors {
  color: red;
  list-style: none;
}

// A basic list of the photos
.photos {
  padding: 20px;
  .new {
    display: inline-block;
  }
  .photo {
    display: inline-block;
    list-style: none;
    margin: 5px;
    position: relative;
    width: 300px;
    vertical-align: top;
    img {
      width: 100%;
      height: auto;
    }
    // A photo is being uploaded
    &.uploading {
      img {
        opacity: 0.3;
      }
      .progress {
        background: rgba($blue,0.2);
        border: 1px solid $blue;
        border-radius: 50px;
        position: absolute;
        top: 45%;
        left: 10%;
        z-index: 20;
        width: 80%;
        .bar {
          background: rgba($blue,0.6);
          border-radius: 50px;
          height: 10px;
        }
      }
    }
    // A photo is done uploading
    &.done:before {
      content: "\2713"; // checkmark
      background: rgba(green,0.6);
      display: block;
      color: white;
      font-size: 70px;
      line-height: 200px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(black,0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }
}